@import "reset";
@import "variables/global";

.app {
  font: var(--font-m);
  background: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
}

a {
  color: var(--text-primary);
}

.content-page {
  display: flex;
}

main {
  flex: 1;
  padding: 15px;
}
