.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-secondary);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}
