.Button {
  cursor: pointer;
  color: var(--text-primary);
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--bg-secondary);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  & svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.clear {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}