:root {
  --bg-primary: #fff;
  --bg-secondary: #f3f3f3;
  --text-primary: #000;
  --text-secondary: #555;
  --border-color: #ddd;
  --shadow: rgb(0 0 0 / 10%);
  --icon-fill: currentcolor;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --border-color: #444;
  --shadow: rgb(0 0 0 / 30%);
  --icon-fill: currentcolor;
}

*,
*::before,
*::after {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    fill 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
