.Sidebar {
  height: calc(100vh - var(--header-height));
  width: 300px;
  background-color: var(--bg-secondary);
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;

  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.tools {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 10px;
}
