.PageError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}